<div class="container">



  <div class="card">
    <div class="card-block">
      <img src="{{q.image}}"  class="thumbnail" alt="">
      <h3>{{q.question}}</h3>
      <form>
        <fieldset>

          <div class="" *ngFor="let radio of q.incorrect_answers ; let i = index">
            <label class="custom-control custom-radio">
           <input id="radioStacked-{{i}}" name="radio-stacked"  (change)="VerifyAnswer(radio, $event)" type="radio" class="custom-control-input"  >
           <span class="custom-control-indicator"></span>
           <span class="custom-control-description">{{radio}}</span>
         </label>

          </div>
        </fieldset>

      </form>

    </div>

  </div>
</div>