<div class="container">



  <div class="card">
    <div class="card-block">
      <h3 [innerHTML]="q.title"></h3>
      <form>
        <fieldset>

          <div class="" *ngFor="let radio of q.p ; let i = index">
            <label class="custom-control custom-radio">
           <input id="radioStacked-{{i}}" name="radio-stacked"  (change)="VerifyAnswer(radio, $event)" type="radio" class="custom-control-input"  >
           <span class="custom-control-indicator"></span>
           <span class="custom-control-description" [innerHTML]="q.radio" ></span>
         </label>

          </div>
        </fieldset>

      </form>

    </div>

  </div>
</div>
